body {
    margin: 10px;
    padding: 10px;
}

header{
    background-color: hwb(0 69% 25%);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-icon{
    height: 30px;
    margin-right: 10px;
}

.nav-links{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li{
    margin: 0 10px;
}

.nav-links a{
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #a97f50;
}

.Login{
    background-color: white;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
}

.Register{
    background-color: green;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
}

.span{
    color: green;
}

.heading-title{
    text-align: center;
    margin-top: 25px;
}

.heading-title img{
    height: 400px;
    margin-bottom: 30px;
 }

.description{
    color: gray;
}

.service{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.title{
    color: green;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.Child-div{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    width: 50vh;
    background-color: #EFEBE3;
    margin-bottom: 50px;
}

.Arrival{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: green;
    border-radius: 10px;
    width: 90vh;
    /* margin-left: 60px; */
}

.Arrival-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 70vh;
    border-radius: 10px;
    background-color: #102861;
    margin-left: 20px;
}

.Register-1{
    background-color: rgb(69, 214, 69);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.title-2{
    color: white;
}

.Arrival-DIV{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.extra-section{
    background-color: #EFEBE3;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 25px 5px;
    margin-left: 140px;
    margin-bottom: 20px;
    /* margin-bottom: -70px; */
}

.extra-section img{
    height: 300px;
}

.extra-section-1 button{
    /* gap: 10px;  */
    margin-top: 10px;
}

footer{
    background-color: rgb(24, 170, 24);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    height: 50vh;
}

footer li{
    list-style: none;
    padding: 10px;
}